---
title: Profile
layout: default
menu: pages.profile
---

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			{% include cards/profile-candidate.html %}
			{% include cards/candidate-details.html %}
			{% include cards/candidate-experience.html %}
			{% include cards/candidate-expectations.html %}
			{% include cards/candidate-logistics.html %}
			{% include cards/profile-recruiter.html %}
		</div>
		<div class="col-lg-8">
			{% include cards/notifications_candidates.html %}
		</div>
	</div>
</div>
