<div class="card">
	<div class="card-body">
		<h3 class="card-title">Personal Details</h3>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th scope="row">Current location</th>
					<td>Dubai, United Arab Emirates</td>
				</tr>
				<tr>
					<th scope="row">Age</th>
					<td>29 years old</td>
				</tr>
				<tr>
					<th scope="row">Visa Status</th>
					<td>Employment Visa</td>
				</tr>
				<tr>
					<th scope="row">Marital Status</th>
					<td>Married</td>
				</tr>
				<tr>
					<th scope="row">Language</th>
					<td>aa,bb,cc,dd</td>
				</tr>
				<tr>
					<th scope="row">Current Role</th>
					<td>Chief Technology Officer and ninja expert ine the cloud and blockahcin</td>
				</tr>
				<tr>
					<th scope="row">Availability to start</th>
					<td>1 month</td>
				</tr>
				<tr>
					<th scope="row">Education</th>
					<td>Bachelor in Hospitality</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
