<div class="card">
	<div class="card-body">
		<h3 class="card-title">Candidate Experience</h3>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">Function</th>
					<td>2 years as Restaurant Manager</td>
				</tr>
				<tr>
					<th scope="row">Industry</th>
					<td>10 years in Hospitality</td>
				</tr>
				<tr>
					<th scope="row">Management</th>
					<td>Experience as Manager(team up to 20 people)</td>
				</tr>
				<tr>
					<th scope="row">Additional Skills</th>
					<td>Aime se taper des putes</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
