<div class="card">
	<div class="card-body">
		<h3 class="card-title">Company Details</h3>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th scope="row">Country</th>
					<td>United Arab Emirates</td>
				</tr>
				<tr>
					<th scope="row">City</th>
					<td>Dubai</td>
				</tr>
				<tr>
					<th scope="row">Address</th>
					<td>Cluster WW, Office 6951</td>
				</tr>
				<tr>
					<th scope="row">Website</th>
					<td>https://recvolt.com/</td>
				</tr>
				<tr>
					<th scope="row">Phone Number</th>
					<td>+971444444444</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
