<div class="card">
	<div class="card-header">
		<h3 class="card-title">Job Information</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<b>Job Title: </b> Chief Technology Officer and Vice President of Engineering
			</div>
			<div class="col-md-4">
				<b>Location: </b> Dubai, United Arab Emirates
			</div>
			<div class="col-md-4">
				<b>Expected Start Date: </b> 2018/09/20
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-4">
				<b>Managerial Position: </b> Yes (team of 1200 people)
			</div>
			<div class="col-md-4">
				<b>Number of interviews: </b> 2
			</div>
			<div class="col-md-4">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					Job Description
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Job Description</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								...
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
