<div class="card">
	<div class="card-header">
		<h3 class="card-title">Activity Log</h3>
	</div>
	<div class="table-responsive table-borderless">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<tbody>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/24.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-lime">
							action
							<span class="tag-addon"><i class="fe fe-activity"></i></span>
						</div>
					</td>
					<td>
						Invitation: Recruiter <a href=""> Loïc Tosser</a> send a request <b><a href="" class="btn btn-outline-primary ml-5">Accept or Decline</a></b>
						<div class="small text-muted">10 years ago</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-lime">
							action
							<span class="tag-addon"><i class="fe fe-activity"></i></span>
						</div>
					</td>
					<td>
						Your Vacancy is now live. <b><a href="" class="btn btn-outline-primary ml-5">Search and invite recruiters</a></b>
						<div class="small text-muted">10 hours ago</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/male/24.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-azure">
							Chat
							<span class="tag-addon"><i class="fe fe-edit-3"></i></span>
						</div>
					</td>
					<td>
						Is arabic mandatory?
						<div class="small text-muted">Loïc Tosser commented 2 hours ago</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Message">
			<!-- Put some space -->
            <div class="input-group-append">
                <button type="button" class="btn btn-primary">Comment
                </button>
            </div>
        </div>
    </div>
</div>
