<div class="card">
	<div class="card-header">
		<h3 class="card-title">Presented By <a href="">Nicolas Deflaux</a> on 2018/08/19 10:14 for position: <a href="">CTO</a></h3>
	</div>
	<div class="table-responsive table-borderless">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<tbody>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/24.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-lime">
							action
							<span class="tag-addon"><i class="fe fe-activity"></i></span>
						</div>
					</td>
					<td>
						Recruiter <a href=""> Loïc Tosser</a> has presented this candidate<b>
						<div class="small text-muted">2 weeks ago</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-lime">
							action
							<span class="tag-addon"><i class="fe fe-activity"></i></span>
						</div>
					</td>
					<td>
						Provide Recruiter <a href=""> Loïc Tosser</a> a feedback for this candidate
						<div class="small text-muted">10 hours ago</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-lime">
							action
							<span class="tag-addon"><i class="fe fe-activity"></i></span>
						</div>
					</td>
					<td>
						Candidate's face to face interview has been confirmed on 2018/10/10 at 14:30 Provide Recruiter <a href=""> Loïc Tosser</a> a feedback for this candidate
						<div class="small text-muted">10 hours ago</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/male/24.jpg)">
						</div>
					</td>
					<td>
						<div class="tag tag-azure">
							Chat
							<span class="tag-addon"><i class="fe fe-edit-3"></i></span>
						</div>
					</td>
					<td>
						Is arabic mandatory?
						<div class="small text-muted">Loïc Tosser commented 2 hours ago</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card-footer">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Message">
			<!-- Put some space -->
            <div class="input-group-append">
                <button type="button" class="btn btn-primary">Comment
                </button>
            </div>
        </div>
    </div>
</div>
