<div class="card">
	<div class="card-header">
		<h3 class="card-title">Employees</h3>
	</div>
	<div class="table-responsive table-striped">
		<table class="table card-table">
			<thead>
				<tr>
					<th class="text-center w-1"><i class="icon-people"></i></th>
					<th>Name</th>
					<th>Job Title</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
							<span class="avatar-status bg-green"></span>
						</div>
					</td>
					<td>
						<a href="">
							<div class="">Nicolas Deflaux</div>
						</a>
					</td>
					<td class="">
						<div>Founder</div>
					</td>
					<td class="">
						<div>Dubai, United Arab Emirates</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
							<span class="avatar-status bg-green"></span>
						</div>
					</td>
					<td>
						<a href="">
							<div class="">Nicolas Deflaux</div>
						</a>
					</td>
					<td class="">
						<div>Founder</div>
					</td>
					<td class="">
						<div>Dubai, United Arab Emirates</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
							<span class="avatar-status bg-green"></span>
						</div>
					</td>
					<td>
						<a href="">
							<div class="">Nicolas Deflaux</div>
						</a>
					</td>
					<td class="">
						<div>Founder</div>
					</td>
					<td class="">
						<div>Dubai, United Arab Emirates</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
							<span class="avatar-status bg-green"></span>
						</div>
					</td>
					<td>
						<a href="">
							<div class="">Nicolas Deflaux</div>
						</a>
					</td>
					<td class="">
						<div>Founder</div>
					</td>
					<td class="">
						<div>Dubai, United Arab Emirates</div>
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
							<span class="avatar-status bg-green"></span>
						</div>
					</td>
					<td>
						<a href="">
							<div class="">Nicolas Deflaux</div>
						</a>
					</td>
					<td class="">
						<div>Founder</div>
					</td>
					<td class="">
						<div>Dubai, United Arab Emirates</div>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
			require(['datatables', 'jquery'], function(datatable, $) {
				$('.datatable').DataTable();
			});
		</script>
	</div>
</div>
